.about {
  display: flex;
  flex-direction: row;
  justify-content: start;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.about_image-container {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    width: 50%;
    height: 100%;
  }

  @media screen and (min-width: 1600px) {
    flex-direction: row;
    justify-content: end;
    margin-right: 0px;
    height: 100%;
  }
}

.about_picture {
  display: flex;
  justify-content: end;
  margin-right: 15px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1600px) {
    &:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 30px;
    }
  }
}

.about_item {
  max-width: 330px;
  max-height: 235px;

  @media screen and (min-width: 1600px) {
    max-width: 270px;
    max-height: 445px;
  }
}

.about_content {
  position: relative;
  display: flex;

  flex-direction: column;

  width: 50%;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.test {
  display: flex;
  flex-direction: column;
}
.about_primery-title {
  padding-left: 80px;
  margin-bottom: 20px;

  color: var(--title-primery);
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 600;
}

.about_primery-title::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: var(--title-primery);
}

.about_secondary-title {
  margin-bottom: 20px;

  color: var(--title-primery);
  font-family: 'Raleway';
  font-size: 28px;
  font-weight: 700;
  @media screen and (min-width: 1600px) {
    font-size: 42px;
  }
}

.about_text {
  margin-bottom: 20px;

  color: var(--color-text);

  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.about_frahment {
  margin-bottom: 20px;

  color: var(--color-text);

  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.btn {
  padding: 12 20 12 20;
  min-width: 160px;

  border: 1px solid var(--btn-border-primery);
  border-radius: 25px;
  background-color: var(--btn-bgr);
  color: var(--btn-text-primery);
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 9%;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  :focus {
    background-color: var(--btn-border-primery);
    color: var(--btn-text-secondary);
  }
}

.about_btn {
  position: absolute;
  bottom: -40;
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
  }
}
