.contact {
  position: relative;
  padding: 84 31 84 31;
  min-height: 496px;

  background-color: #111319;
}

.contact_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 496px;

  background-image: url('../images/contact1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact_secondary-title {
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
  font-family: 'Raleway';
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.contact_content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.contact_item:not(:last-child) {
  margin-bottom: 20px;
}

.contact_link {
  display: flex;
  position: relative;
  align-items: center;

  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.36px;
  color: var(--color-text-contact);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact_link_text {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contact_icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.contact_link_style {
  font-weight: 400;
}

.contact_list {
  margin-bottom: 44px;

  @media screen and (min-width: 768px) {
    margin-right: 150px;
  }
}

.contact_primery-title {
  padding-left: 80px;
  margin-bottom: 20px;

  color: var(--hero-title-primery);
  font-family: 'Open Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.contact_primery-title::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: var(--color-text-contact);
}

.contact_schedule {
  color: var(--color-text-contact);
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}
