.overlay {
  min-height: 580px;
  background-color: var(--bg-secondary);

  @media screen and (min-width: 768px) {
    padding: 0 40 0 155;
  }

  @media screen and (min-width: 1600px) {
    padding: 0 215 0 315;
  }
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 580px;
  background-size: cover;
  background-image: url('../images/Slider1.jpg');

  // @media screen and (min-width: 768px) {
  //   flex-direction: row;
  //   margin-left: 155px;
  //   margin-right: 39px;
  // }
}

.nav {
  display: flex;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.container-logo {
  display: inline-block;
  margin-top: 40px;
  margin-left: 45px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0px;
    left: -155px;
  }
}

.header_list {
  position: absolute;
  top: -5px;
  right: 200px;
  display: flex;
  // justify-content: center;
  // align-items: center;
  padding-left: 60px;

  color: var(--title-primery);
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 600;
}

.header_list::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: var(--title-primery);
}

.header_item {
  margin-left: 40px;
}

.header_link {
  color: var(--title-primery);
  font-family: 'Open Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.container-position_rotate {
  padding: 0;
  transform: rotate(-90deg);
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.burger {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 48px;
  margin-right: 31px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu {
  display: flex;
  margin-left: 20px;
  margin-top: 34px;

  list-style: none;
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1600px) {
    margin-left: 100px;
    margin-top: 49px;
  }
}

.menu_item:not(:last-child) {
  margin-right: 20px;
  @media screen and (min-width: 1600px) {
    margin-right: 30px;
  }
}

.menu_link {
  color: var(--color-nav);
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.logo-svg {
  fill: var(--logo-fill-secondary);

  @media screen and (min-width: 768px) {
    fill: var(--logo-fill-primery);
  }
}
.burger-svg {
  fill: white;
}
.hero {
  margin-top: 113px;
  margin-left: 31px;

  @media screen and (min-width: 768px) {
    margin-top: 156px;
    margin-left: 98px;
    margin-bottom: 237px;
  }
}

.container-position {
  position: relative;
}
.hero_title-up {
  padding-left: 80px;
  margin-bottom: 20px;

  color: var(--hero-title-secondary-transparent);
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 600;
}

.hero_title-up::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: red;
}

.hero_title {
  margin-bottom: 20px;

  color: var(--hero-title-primery);
  font-family: 'Raleway';
  font-size: 48px;
  font-weight: 700;
}

.hero_text {
  margin-bottom: 20px;

  color: var(--hero-title-secondary);
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.container-btn-header {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1600px) {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.btn_price_position {
  margin-bottom: 20px;

  @media screen and (min-width: 1600px) {
    margin-bottom: 0;
  }
}

.contact-phone {
  color: #fff;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;

  @media screen and (min-width: 1600px) {
    margin-right: 43px;
  }
}
