:root {
  --hero-title-secondary-transparent: rgba(157, 164, 189, 0.6);
  --hero-title-secondary: rgba(157, 164, 189, 1);
  --hero-title-primery: #fff;
  --color-nav: #fff;

  --title-primery: #303030;
  --color-text: #555555;

  --btn-bgr: #fff;
  --btn-text-primery: #000;
  --btn-text-secondary: #fff;
  --btn-border-primery: #ff6c00;
  --btn-border-secondary: #fff;

  --input-border: rgba(157, 164, 189, 1);
  --input-color-placeholder: rgba(157, 164, 189, 1);
  --input-color-text: rgba(255, 255, 255, 1);

  --color-line: rgba(157, 164, 189, 0.12);
  --color-text-list: #9da4bd;
  --color-text-contact: #9da4bd;

  --bg-card: #f7f7f7;
  --bg-primery: #191c26;
  --bg-secondary: #fff;
  --bg-footer: rgba(247, 247, 247, 1);

  --logo-fill-primery: rgba(48, 48, 48, 1);
  --logo-fill-secondary: #fff;

  --accent-color: #ff6c00;
}
