:root {
  --hero-title-secondary: rgba(157, 164, 189, 0.6);
  --hero-title-primery: #fff;

  --title-primery: #303030;
  --color-text: #555555;

  --btn-bgr: #fff;
  --btn-text-primery: #000;
  --btn-text-secondary: #fff;
  --btn-border-primery: #ff6c00;
  --btn-border-secondary: #fff;
}
