<section class="container">
  <div class="container-position">
    <h2 class="about_primery-title">ABOUT</h2>
  </div>

  <h3 class="about_secondary-title">Best Barbershop in your city</h3>
  <p class="about_text">
    If you want to add more confidence to your image, you should visit us
  </p>
  <p class="about_frahment">
    We are a team that never stops at what has been achieved and are thirsty for
    changes. And when you fall into the hands of our master, you will never be
    the same again. We are a team that is always "on the same wave" with
    clients. Therefore, we are always ready to improve everyone who comes to us!
  </p>
  <button type="button" class="about_btn">ONLINE-BOOKING</button>
</section>
