<section id="about" class="container about">
  <div class="about_image-container">
    <picture class="about_picture">
      <source
        srcset="./images/768/1about768.jpg 1x, ./images/768/1about768@2x.jpg 2x"
        width="330"
        heigth="235"
        type="image/jpg"
        media="(max-width: 1599px)"
      />

      <source
        srcset="
          ./images/1200/1about1200.jpg    1x,
          ./images/1200/1about1200@2x.jpg 2x
        "
        width="270"
        heigth="445"
        type="image/jpg"
        media="(min-width: 1600px)"
      />
      <img class="about_item" src="./images/768/1about768.jpg" alt="men" />
    </picture>
    <picture class="about_picture">
      <source
        srcset="./images/768/2about768.jpg 1x, ./images/768/2about768@2x.jpg 2x"
        width="330"
        heigth="235"
        type="image/jpg"
        media="(max-width: 1599px)"
      />

      <source
        srcset="
          ./images/1200/2about1200.jpg    1x,
          ./images/1200/2about1200@2x.jpg 2x
        "
        width="270"
        heigth="445"
        type="image/jpg"
        media="(min-width: 1600px)"
      />
      <img class="about_item" src="./images/768/2about768.jpg" alt="men" />
    </picture>
  </div>
  <div class="about_content">
    <div class="container-position">
      <h2 class="about_primery-title">ABOUT</h2>
    </div>

    <h3 class="about_secondary-title">Best Barbershop in your city</h3>
    <p class="about_text">
      If you want to add more confidence to your image, you should visit us
    </p>
    <p class="about_frahment">
      We are a team that never stops at what has been achieved and are thirsty
      for changes. And when you fall into the hands of our master, you will
      never be the same again. We are a team that is always "on the same wave"
      with clients. Therefore, we are always ready to improve everyone who comes
      to us!
    </p>
    <button type="button" class="btn about_btn">ONLINE-BOOKING</button>
  </div>
</section>
