<section id="booking" class="booking joint-container">
  <h2 class="booking_secondary-title">Online-booking</h2>
  <form class="booking_form">
    <div class="container-label">
      <label class="booking_label booking_label_position">
        <input class="booking_input" type="text" placeholder="Name*" />
      </label>
      <label class="booking_label booking_label_position">
        <input class="booking_input" type="tel" placeholder="Phone*" />
      </label>
    </div>
    <label class="booking_label">
      <textarea
        rows="10"
        class="booking_input_message"
        placeholder="Message"
      ></textarea>
    </label>
  </form>
  <div class="btn_container">
    <button class="btn btn_booking" type="button">SEND</button>
  </div>
</section>
