<section id="contact" class="contact joint-container">
  <div class="contact_overlay"></div>
  <h2 class="contact_secondary-title">Contacts</h2>

  <div class="contact_content">
    <ul class="contact_list">
      <li class="contact_item">
        <a href="#" class="contact_link">
          <svg class="contact_icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          st. Vasilkovaya, <br class="contact_link_text" />
          7A Kiev, 08132</a
        >
      </li>

      <li class="contact_item">
        <a href="tel:+380441111111" class="contact_link contact_link_style">
          <svg class="contact_icon">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          +38 044 111 11 11</a
        >
      </li>

      <li class="contact_item">
        <a
          href="mailto:barbershop@email.com"
          class="contact_link contact_link_style"
        >
          <svg class="contact_icon">
            <use href="./images/sprite.svg#icon-mail"></use>
          </svg>
          barbershop@email.com</a
        >
      </li>
    </ul>

    <div class="contact_wraper">
      <div class="container-position">
        <h2 class="contact_primery-title">Working hours</h2>
      </div>
      <p class="contact_schedule">Every day from 9:00 to 22:00</p>
    </div>
  </div>
</section>
