<section class="people">
  <div class="container-position">
    <h2 class="people_primery-title">For true enjoyers of the atmosphere</h2>
  </div>
  <h3 class="people_secondary-title">Our barbers</h3>
  <ul class="people_list">
    <li class="people_item">
      <picture>
        <source
          srcset="
            ./images/480/1people480.jpg    1x,
            ./images/480/1people480@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />

        <source
          srcset="
            ./images/768/1people768.jpg    1x,
            ./images/768/1people768@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 1199px)"
        />

        <source
          srcset="
            ./images/1200/1people1200.jpg    1x,
            ./images/1200/1people1200@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1200px)"
        />
        <img class="people_img" src="./images/480/1people480.jpg" alt="men" />
      </picture>
      <p class="people_name">John Smith</p>
      <p class="people_position">Extreme Barber</p>
      <div class="social">
        <ul class="social_list">
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-instagram" />
              </svg>
            </a>
          </li>
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-twitter" />
              </svg>
            </a>
          </li>
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-facebook" />
              </svg>
            </a>
          </li>
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-linkedin" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="people_item">
      <picture>
        <source
          srcset="
            ./images/480/2people480.jpg    1x,
            ./images/480/2people480@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />

        <source
          srcset="
            ./images/768/2people768.jpg    1x,
            ./images/768/2people768@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 1199px)"
        />

        <source
          srcset="
            ./images/1200/2people1200.jpg    1x,
            ./images/1200/2people1200@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1200px)"
        />
        <img class="people_img" src="./images/480/2people480.jpg" alt="men" />
      </picture>
      <p class="people_name">Michele Doe</p>
      <p class="people_position">Extreme Barber</p>
      <div class="social">
        <ul class="social_list">
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-instagram" />
              </svg>
            </a>
          </li>
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-twitter" />
              </svg>
            </a>
          </li>
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-facebook" />
              </svg>
            </a>
          </li>
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-linkedin" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="people_item">
      <picture>
        <source
          srcset="
            ./images/480/3people480.jpg    1x,
            ./images/480/3people480@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />

        <source
          srcset="
            ./images/768/3people768.jpg    1x,
            ./images/768/3people768@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 1199px)"
        />

        <source
          srcset="
            ./images/1200/3people1200.jpg    1x,
            ./images/1200/3people1200@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1200px)"
        />
        <img class="people_img" src="./images/480/3people480.jpg" alt="men" />
      </picture>
      <p class="people_name">Alan Black</p>
      <p class="people_position">Extreme Barber</p>
      <div class="social">
        <ul class="social_list">
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-instagram" />
              </svg>
            </a>
          </li>
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-twitter" />
              </svg>
            </a>
          </li>
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-facebook" />
              </svg>
            </a>
          </li>
          <li class="social_item">
            <a class="social_link" href="#">
              <svg class="social_icon" width="20" height="20">
                <use href="./images//sprite.svg#icon-linkedin" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
