<section>
  <h2>For true enjoyers of the atmosphere</h2>
  <h3>Our barbers</h3>
  <ul>
    <li>
      <img />
      <p>John Smith</p>
      <p>Extreme Barber</p>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>
    </li>
    <li>
      <img />
      <p>Michele Doe</p>
      <p>Extreme Barber</p>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>
    </li>
    <li>
      <img />
      <p>Alan Black</p>
      <p>Extreme Barber</p>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>
    </li>
  </ul>
</section>
