<section class="performance">
  <h2>Old traditional school</h2>
  <h3>¿Why people come to us?</h3>
  <p>
    Only good things are said about us. But it's better to see and feel 1 time
    than read 10 times.
  </p>
  <ul>
    <li>
      <p>600</p>
      <p>Satisfied customers per day</p>
    </li>
    <li>
      <p>50</p>
      <p>Awards for excellent service</p>
    </li>
    <li>
      <p>20</p>
      <p>Kyiv’s best barbers</p>
    </li>
    <li>
      <p>100</p>
      <p>Gifts for regular customers</p>
    </li>
  </ul>
</section>
