<section class="container performance">
  <div class="container-position">
    <h2 class="performance_primery-title">Old traditional school</h2>
  </div>

  <h3 class="performance_secondary-title">¿Why people come to us?</h3>
  <p class="performance_text">
    Only good things are said about us. But it's better to see and feel 1 time
    than read 10 times.
  </p>
  <ul class="performance_list">
    <li class="performance_item">
      <p class="performance_number">600</p>
      <p class="performance_text-card">Satisfied customers per day</p>
    </li>
    <li class="performance_item performance_item_position-card">
      <p class="performance_number">50</p>
      <p class="performance_text-card">Awards for excellent service</p>
    </li>
    <li class="performance_item">
      <p class="performance_number">20</p>
      <p class="performance_text-card">Kyiv’s best barbers</p>
    </li>
    <li class="performance_item performance_item_position-card">
      <p class="performance_number">100</p>
      <p class="performance_text-card">Gifts for regular customers</p>
    </li>
  </ul>
</section>
