<section class="container photo">
  <div class="container-position">
    <h2 class="photo_primery-title">In Latin, "barba" means "beard"</h2>
  </div>

  <ul class="photo_list">
    <li class="photo_item">
      <picture>
        <source
          srcset="
            ./images/480/1portfolio480.jpg    1x,
            ./images/480/1portfolio480@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/768/1portfolio768.jpg    1x,
            ./images/768/1portfolio768@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            ./images/1200/1portfolio1200.jpg    1x,
            ./images/1200/1portfolio1200@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1200px)"
        />
        <img
          class="photo_img"
          src="./images/480/1portfolio480.jpg"
          alt="men"
        /> </picture
      ><img />
    </li>
    <li class="photo_item">
      <picture>
        <source
          srcset="
            ./images/480/2portfolio480.jpg    1x,
            ./images/480/2portfolio480@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/768/2portfolio768.jpg    1x,
            ./images/768/2portfolio768@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            ./images/1200/2portfolio1200.jpg    1x,
            ./images/1200/2portfolio1200@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1200px)"
        />
        <img
          class="photo_img"
          src="./images/480/2portfolio480.jpg"
          alt="men"
        /> </picture
      ><img />
    </li>
    <li class="photo_item">
      <picture>
        <source
          srcset="
            ./images/480/3portfolio480.jpg    1x,
            ./images/480/3portfolio480@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/768/3portfolio768.jpg    1x,
            ./images/768/3portfolio768@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            ./images/1200/3portfolio1200.jpg    1x,
            ./images/1200/3portfolio1200@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1200px)"
        />
        <img
          class="photo_img"
          src="./images/480/3portfolio480.jpg"
          alt="men"
        /> </picture
      ><img />
    </li>
    <li class="photo_item">
      <picture>
        <source
          srcset="
            ./images/480/4portfolio480.jpg    1x,
            ./images/480/4portfolio480@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/768/4portfolio768.jpg    1x,
            ./images/768/4portfolio768@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            ./images/1200/4portfolio1200.jpg    1x,
            ./images/1200/4portfolio1200@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1200px)"
        />
        <img
          class="photo_img"
          src="./images/480/4portfolio480.jpg"
          alt="men"
        /> </picture
      ><img />
    </li>
  </ul>
</section>
