<section class="container photo">
  <div class="container-position">
    <h2 class="photo_primery-title">In Latin, "barba" means "beard"</h2>
  </div>

  <ul class="photo_list">
    <li class="photo_item">
      <picture>
        <source
          srcset="
            ./images/480/1portfolio480.jpg    1x,
            ./images/480/1portfolio480@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />
        <img
          class="photo_img"
          src="./images/480/1portfolio480.jpg"
          alt="men"
        /> </picture
      ><img />
    </li>
    <li class="photo_item">
      <picture>
        <source
          srcset="
            ./images/480/2portfolio480.jpg    1x,
            ./images/480/2portfolio480@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />
        <img
          class="photo_img"
          src="./images/480/2portfolio480.jpg"
          alt="men"
        /> </picture
      ><img />
    </li>
    <li class="photo_item">
      <picture>
        <source
          srcset="
            ./images/480/3portfolio480.jpg    1x,
            ./images/480/3portfolio480@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />
        <img
          class="photo_img"
          src="./images/480/3portfolio480.jpg"
          alt="men"
        /> </picture
      ><img />
    </li>
    <li class="photo_item">
      <picture>
        <source
          srcset="
            ./images/480/4portfolio480.jpg    1x,
            ./images/480/4portfolio480@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />
        <img
          class="photo_img"
          src="./images/480/4portfolio480.jpg"
          alt="men"
        /> </picture
      ><img />
    </li>
  </ul>
</section>
