<section class="container price">
  <div class="price_bg">
    <h2>Spend your time with the best masters</h2>
    <h3>Services and prices</h3>
    <ul>
      <li>Men’s haircut___________from 300 uah.</li>
      <li>Beard trim___________from 200 uah.</li>
      <li>Mustache trim___________from 200 uah.</li>
      <li>Straight razor shave___________from 200 uah.</li>
      <li>Trainee’s haircut___________from 50 uah.</li>
      <li>Haircut under the nozzle___________from 200 uah.</li>
      <li>Children’s haircut (0-12 y.o.)___________from 300 uah.</li>
      <li>Camouflage of grey hair___________from 200 uah.</li>
    </ul>

    <button type="button">ONLINE-BOOKING</button>
  </div>
</section>
