<section class="price">
  <div class="price_bg">
    <div class="container-position">
      <h3 class="price_title-up">Spend your time with the best masters</h3>
    </div>

    <h2 class="price_title">Services and prices</h2>
    <ul class="price_list">
      <li class="price_item">
        Beard trim<span class="line"></span>from 200 uah.
      </li>
      <li class="price_item">
        Men’s haircut<span class="line"></span>from 300 uah.
      </li>
      <li class="price_item">
        Mustache trim<span class="line"></span>from 200 uah.
      </li>
      <li class="price_item">
        Straight razor shave<span class="line"></span>from 200 uah.
      </li>
      <li class="price_item">
        Trainee’s haircut<span class="line"></span>from 50 uah.
      </li>
      <li class="price_item">
        Haircut under the nozzle<span class="line"></span>from 200 uah.
      </li>
      <li class="price_item">
        Children’s haircut (0-12 y.o.)<span class="line"></span>from 300 uah.
      </li>
      <li class="price_item">
        Camouflage of grey hair<span class="line"></span>from 200 uah.
      </li>
    </ul>

    <div class="btn_container">
      <button class="btn btn_price" type="button">ONLINE-BOOKING</button>
    </div>
  </div>
</section>
